# Ignore node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# IDE/editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
